:root {
  --textColor: #000000;
  --backgroundColor: #ffffff;

  --darkA1BgColor: rgba(0,0,0,0.1);
  --darkA3BgColor: rgba(0,0,0,0.3);

  --lightA1BgColor: rgba(255,255,255,0.1);
  --lightA3BgColor: rgba(255,255,255,0.3);

  --a1BgColor: var(--darkA1BgColor);
  --a3BgColor: var(--darkA3BgColor);
}

body, html {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.main {
  background-color: var(--a1BgColor);
  width: 50%;
  height: 50%;
}

.main > .header {
  background-color: var(--a1BgColor);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main > .body {
  background-color: var(--a3BgColor);
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main > .footer {
  background-color: var(--a1BgColor);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}